<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.5.0.js">
        </script>
        <script>
           $(".button-img").mouseover(function() {
                $(this).attr('src', $(this).data("touch"));
              }).mouseout(function() {
                $(this).attr('src', $(this).data("src"));
              });
        </script>
        <meta name="viewport" content="width=400">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="192X192" href="/img/apple-touch-icon.png">
    </head>
    <body style="width:400px; font-family:verdana;background-color:#cc0000;">
        <div align="center" fontsize=30>
            <p style="font-size:30px"><br><br>Garage Door IS OFFLINE<br></p>
            <p style="font-size:30px">Garage Door is<br></p>
            <div id="status" style="font-size:40px">{{ status }}</div>
            <a href="button">
            <input type="image" class="button-img" data-src="/img/apple-touch-icon.png"
                   data-touch="/img/invert.png" name="submit" value="On" width=150 height=150>
            </a>
        </div>

        <script>
            $(document).ready(function() {
                $.ajaxSetup({ cache: false });
                setInterval(function() {
                 $('#status').load('status');
               }, 1000);
            });
        </script>
    </body>
</html>
