<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.5.0.js">
        </script>
        <meta name="viewport" content="width=400">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="192X192" href="/img/apple-touch-icon.png">
    </head>
    <body style="width:400px; font-family:verdana;background-color:#ffffff;-webkit-touch-callout: none;
    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
    user-select: none;">
        <div align="center" fontsize=30>
            <p style="font-size:30px"><br><br>Garage Door Opener<br></p>
            <p style="font-size:30px">Garage Door is<br></p>
            <div id="status" style="font-size:40px">{{ status }}</div>
            <img id="doorbutton" src="/img/apple-touch-icon.png" width=150 height=150 style="border: 4px solid">
        </div>
        <script>
            $(document).ready(function() {
                $.ajaxSetup({ cache: false });
                setInterval(function() {
                 $('#status').load('status');
               }, 1000);
            });
        </script>
        <script>
            document.getElementById("doorbutton").onmousedown = function() {clickbutton()};
            document.getElementById("doorbutton").touchstart = function() {clickbutton()};
            function clickbutton() {
                document.getElementById("doorbutton").src = "/img/invert.png";
                $.get('button');
                const myTimeout = setTimeout(releasebutton, 1000);
              };
            function releasebutton() {
                document.getElementById("doorbutton").src = "/img/apple-touch-icon.png";
              };
        </script>

    </body>
</html>
