<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="5">
        <meta name="viewport" content="width=400">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="192X192" href="android.png">
    </head>
    <body style="width:400px;">
        <div align="center" fontsize=30>
            <p style="font-size:40px"><br><br>Garage Door Opener<br></p>
            <p style="font-size:30px">Garage Door is<br>{{ status }}</p>
            <a href="buttonpush.py">
            <input type="image" src="/apple-touch-icon.png" name="submit" value="On" width=150 height=150>
            </a>
        </div>
    </body>
</html>
